<app-navbar></app-navbar>
<app-overlay>
    <form class="new-announcement"
      [formGroup]="addUserForm"
      (ngSubmit)="onAddUserFormSubmit()"
      >

      <app-text-input
        [control]="$any(addUserForm.get('firstName'))"
        label="First Name"
      ></app-text-input>
      <app-text-input
        [control]="$any(addUserForm.get('lastName'))"
        label="Last Name"
      ></app-text-input>
      <app-text-input
        [control]="$any(addUserForm.get('email'))"
        label="Email"
      ></app-text-input>
      <app-text-input
        [control]="$any(addUserForm.get('phone'))"
        label="Phone"
      ></app-text-input>
      <app-text-input
        [control]="$any(addUserForm.get('password'))"
        label="Password"
      ></app-text-input>
      <app-text-input
        [control]="$any(addUserForm.get('confirmPassword'))"
        label="Confirm Password"
      ></app-text-input>

    <select
        name="isAdmin"
        class="custom-select"
        formControlName="isAdmin">
        <option class="" value="" disabled>Pick an option</option>
        <option class="" [ngValue]="true">Yes</option>
        <option class="" [ngValue]="false">No</option>
    </select>

  <button
        class="inputs button"
        type="submit"
        [disabled]="addUserForm.invalid"
      >
        Submit
      </button>

    </form>
  </app-overlay>

<h1>User Registry</h1>
<table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Active</th>
      <th>Admin</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let employee of employees">
      <td>{{employee.profile.firstName}} {{employee.profile.lastName}}</td>
      <td>{{employee.profile.email}}</td>
      <ng-container *ngIf="employee.active == true"><td style="color: #32CD32">YES</td></ng-container>
      <ng-container *ngIf="employee.active == false"><td style="color: red;">NO</td></ng-container>
      <ng-container *ngIf="employee.admin == true"><td style="color: #32CD32;">YES</td></ng-container>
      <ng-container *ngIf="employee.admin == false"><td style="color: red;">NO</td></ng-container>
      <td>{{employee.status}}</td>
    </tr>
  </table>

  

  <div class="button-container">
    <button (click)="showAddUserModal()">Add User</button>
  </div>  
