<app-navbar></app-navbar>
<div *ngFor="let team of teams">
  <a [routerLink]="['/projects']" [queryParams]="{ teamId: team.id }" class="team-link">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ team.name }}</h4>
        <!-- <p class="card-subtitle">{{ team.projects.length }} projects</p> -->
      </div>
      <div class="card-body">
        <h5 class="card-title">Members</h5>
        <p>Hello</p>
        <div *ngFor="let teammate of team.teammates" class="sub-card">
          <p>{{ teammate.profile.firstName }}{{ teammate.profile.lastName.charAt(0)}} </p>
        </div>
      </div>
    </div>
  </a>
</div>
