<div class="login-page">
  <h1>COOK SYSTEMS</h1>
  <h2>A FINAL APP</h2>
  <div class="login-form-container">
    <img src="../../assets/logo.png" />
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-login-input
        [control]="$any(loginForm.get('email'))"
        label="Email"
      ></app-login-input>
      <app-login-input
        [control]="$any(loginForm.get('password'))"
        label="Password"
      ></app-login-input>
      <br />
      <button
        class="inputs button"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
