.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  margin-top: 50px;
  border: 5px #deb992 solid;
  box-shadow: 4px 4px 10px 5px #cbcbcb7d;
  border-radius: 15px;
  padding: 15px 100px 30px 100px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
