<nav>
  <div class="link-container">
    <ng-container *ngIf="isAdmin">ACTING AS ADMIN</ng-container>
    <a routerLink="/announcements" style="margin-right: 10px; float: right">Home</a>
    <ng-container *ngIf="isAdmin"
      ><a routerLink="/select-company" style="margin-right: 10px"
        >Company</a
      ></ng-container
    >
    <a routerLink="/teams" style="margin-right: 10px; float: right">Teams</a>
    <ng-container *ngIf="isAdmin"
      ><a routerLink="/users" style="margin-right: 10px; float: right">Users</a></ng-container
    >
    <a routerLink="/" (click)="logout()" style="margin-right: 10px; float: right">Logout</a>
  </div>
</nav>
