<ng-container class="text-input">
  <label for="control">{{ label }}</label>
  <input type="text" [formControl]="control" name="control" />
  <ng-container *ngIf="control.touched && control.errors" class="error">
    <div class="error" *ngIf="control.errors['required']">
      A {{ label }} is required
    </div>
    <div class="error" *ngIf="control.errors['minlength']">
      {{ label }} must be at least
      {{ control.errors["minlength"].minlength }} characters long.
    </div>
  </ng-container>
</ng-container>
